body {
  background-color: #3e3e3e;
}

img#homeLogo {
  position: absolute;
  width: 107px;
  height: 93px;
  margin: 25px 0px 0px 33px;
}


section#menuContactPageTransfer {
  position: absolute;
  display: inline-flex;
  left: 55%;
}

a#homeLayoutTransfer {
  margin: 20% 15% 20% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

div#servicesLayoutTransfer {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

h1#ourServicesh1Transfer {
  margin: 15% 32% 15% 32%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutTransfer {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutTransfer:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
a#homeLayoutTransfer:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
div#servicesLayoutTransfer:hover {
  color: #ffbe5b;
  transition: 0.5s;
}

div#servicesMenuTransfer {
  position: absolute;
  border-radius: 10px;
  width: 141px;
  height: 0px;
  left: 70.1%;
  top: 15%;
  background: #eeeeee;
  visibility: hidden;
}

div#servicesMenuTransfer.activated {
  height: 163px;
  visibility: visible;
  transition: 0.5s;
}

div#servicesMenuTransfer.closed {
  height: 0px;
  visibility: hidden;
  transition: 0.5s;
}

div#menuDetailTransfer {
  border-radius: 3px;
  position: absolute;
  width: 141px;
  height: 27px;
  top: 90%;
  background: #d09844;
}

a#orderMenuTransfer {
  position: absolute;
  left: 8px;
  top: 22px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#orderMenuTransfer:hover {
  color: #d09844;
  transition: 0.25s;
}

a#rentalMenuTransfer {
  position: absolute;
  left: 25px;
  top: 67px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#rentalMenuTransfer:hover {
  color: #d09844;
  transition: 0.25s;
}

a#transferMenuTransfer {
  position: absolute;
  left: 27px;
  top: 115px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#transferMenuTransfer:hover {
  color: #d09844;
  transition: 0.25s;
}

#closeButtonTransfer {
  color: #eeeeee;
  position: absolute;
  top: 20%;
  left: 45%;
}

#closeButtonTransfer:hover {
  color: #3e3e3e;
  transition: 0.5s;
}

h1#transferServicesTitle {
  position: absolute;
  width: 525px;
  height: 71px;
  left: 62%;
  top: 37%;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #ffbe5b;
}

h2#transferServicesDescription {
  position: absolute;
  width: 452px;
  height: 426px;
  left: 61%;
  top: 42%;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  letter-spacing: 0.005em;
  color: #eeeeee;
}

img#transferImage {
  position: absolute;
  left: 10%;
  top: 22%;
}

@media screen and (min-width: 0px) and (max-width: 955px) {
  img#transferImage {
    visibility: hidden;
  }

  img#homeLogo {
    visibility: hidden;
  }

  section#menuContactPageTransfer {
    left: 13%
  }

  h1#transferServicesTitle {
    left: 31%
  }

  h2#transferServicesDescription {
    left: 28%
  }
}

@media screen and (min-width: 956px) and (max-width: 1541px) {
  img#transferImage {
    visibility: hidden;
  }

  img#homeLogo {
    visibility: hidden;
  }

  h1#transferServicesTitle {
    left: 40%;
    top: 37%
  }

  h2#transferServicesDescription {
    top: 44%;
    left: 38%
  }

  section#menuContactPageTransfer {
    left: 27%;
  }

}

@media screen and (max-height: 823px) {
  section#menuContactPageTransfer {
    left: 25%;
    top: 12%
  }

  h1#transferServicesTitle {
    left: 56%;
    top: 62%;
  }

  h2#transferServicesDescription {
    left: 51%;
    top: 70%;
  }
}