body {
  background-color: #3e3e3e;
}

img#homeLogo {
  position: absolute;
  width: 107px;
  height: 93px;
  margin: 25px 0px 0px 33px;
  visibility: visible;
}

section#menuContactPageRental {
  position: absolute;
  display: inline-flex;
  left: 55%;
}

a#homeLayoutRental {
  margin: 20% 15% 20% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

div#servicesLayoutRental {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

h1#ourServicesh1Rental {
  margin: 15% 32% 15% 32%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutRental {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutRental:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
a#homeLayoutRental:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
div#servicesLayoutRental:hover {
  color: #ffbe5b;
  transition: 0.5s;
}

div#servicesMenuRental {
  position: absolute;
  border-radius: 10px;
  width: 141px;
  height: 0px;
  left: 70.1%;
  top: 15%;
  background: #eeeeee;
  visibility: hidden;
}

div#servicesMenuRental.activated {
  height: 163px;
  visibility: visible;
  transition: 0.5s;
}

div#servicesMenuRental.closed {
  height: 0px;
  visibility: hidden;
  transition: 0.5s;
}

div#menuDetailRental {
  border-radius: 3px;
  position: absolute;
  width: 141px;
  height: 27px;
  top: 90%;
  background: #d09844;
}

a#orderMenuRental {
  position: absolute;
  left: 8px;
  top: 22px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#orderMenuRental:hover {
  color: #d09844;
  transition: 0.25s;
}

a#rentalMenuRental {
  position: absolute;
  left: 25px;
  top: 67px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#rentalMenuRental:hover {
  color: #d09844;
  transition: 0.25s;
}

a#transferMenuRental {
  position: absolute;
  left: 27px;
  top: 115px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#transferMenuRental:hover {
  color: #d09844;
  transition: 0.25s;
}

#closeButtonRental {
  color: #eeeeee;
  position: absolute;
  top: 20%;
  left: 45%;
}

#closeButtonRental:hover {
  color: #3e3e3e;
  transition: 0.5s;
}

img#rentalImage {
  position: absolute;
  left: 10%;
  top: 22%;
}

section#rentOptions {
  position: absolute;
  left: 57.6%;
  top: 34%;
}

div#comumCar {
  position: absolute;
  width: 502px;
  height: 99px;

  background: #ffbe5b;
  border-radius: 5px;
}
div#comumCar2 {
  position: absolute;
  width: 502px;
  height: 99px;
  top: 120px;

  background: #ffbe5b;
  border-radius: 5px;
}
div#comumCar3 {
  position: absolute;
  width: 502px;
  height: 99px;
  top: 240px;

  background: #ffbe5b;
  border-radius: 5px;
}
div#comumCar4 {
  position: absolute;
  width: 502px;
  height: 99px;
  top: 360px;

  background: #ffbe5b;
  border-radius: 5px;
}

div#comumCarImage {
  position: absolute;
  width: 124px;
  height: 99px;

  background: #d09844;
  border-radius: 5px;
}

img#golImage {
  position: absolute;
  width: 120px;
  height: 64px;
  margin-top: 15%;
}

h1#gol {
  position: absolute;
  width: 380px;
  height: 99px;
  left: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #3e3e3e;
}

img#saveiroImage {
  position: absolute;
  width: 120px;
  height: 64px;
  margin-top: 15%;
}

h1#saveiro {
  position: absolute;
  width: 380px;
  height: 99px;
  left: 47%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #3e3e3e;
}

img#vanImage {
  position: absolute;
  width: 120px;
  height: 64px;
  margin-top: 15%;
}

h1#van {
  position: absolute;
  width: 380px;
  height: 99px;
  left: 54%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #3e3e3e;
}

img#truckImage {
  position: absolute;
  width: 120px;
  height: 64px;
  margin-top: 15%;
}

h1#caminhao {
  position: absolute;
  width: 380px;
  height: 99px;
  left: 46%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #3e3e3e;
}

h1#rentaCarOptions {
  position: absolute;
  width: 525px;
  height: 71px;
  left: 56.7%;
  top: 24%;

  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;

  color: #ffbe5b;
}

@media screen and (min-width: 0px) and (max-width: 982px) {
  img#homeLogo {
    visibility: hidden;
  }
  img#rentalImage {
    visibility: hidden;
  }

  section#menuContactPageRental {
    left: 10%
  }

  h1#rentaCarOptions {
    top: 29%;
    left: 24.7%;

  }
  section#rentOptions {
    left: 24.7%;
    top: 37%
  }
}

@media screen and (min-width: 983px) and (max-width: 1460px) {
  img#homeLogo {
    visibility: hidden;
  }

  img#rentalImage {
    visibility: hidden;
  }

  section#menuContactPageRental {
    left: 29%;
  }

  h1#rentaCarOptions {
    left: 36.7%;
    top: 34%;
  }

  section#rentOptions {
    left: 37.7%;
    top: 45%
  }
}

@media screen and (min-height: 0px) and (max-height: 823px) {
  section#menuContactPageRental {
    top: 9%;
    left: 24%;
  }

  h1#rentaCarOptions {
    top: 57%;
    left: 40.7%;

  }

  section#rentOptions {
    left: 43.7%;
    top: 68%;
  }
}