* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}
body {
  background-color: #3e3e3e;
}

@media screen and (max-width: 1142px) {
  section#linkButtons {
    left: 18.5%;
    bottom: 28%;
  }

  section#options {
    left: 18.5%;
    bottom: 12%;
  }
}

img#homeLogo {
  position: absolute;
  width: 107px;
  height: 93px;
  margin: 25px 0px 0px 33px;
}

h1#chegaLogo {
  left: 12%;
  top: 40%;
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 130px;
  line-height: 191px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;
  color: #eeeeee;
}

div#express {
  position: absolute;
  left: 10%;
  top: 39%;
}
h2#express {
  position: absolute;
  height: 100%;
  top: 37%;
  left: 24%;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.13em;
  color: #ffbe5b;
}

section#linkButtons {
  left: 60%;
  position: absolute;
  bottom: 45%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4%;
}

div#homeButton {
  width: 372px;
  height: 65.71px;
  background: #eeeeee;
  border-radius: 6px;
}

div#aboutButton {
  margin-right: 0px;
  width: 372px;
  height: 65.71px;
  background: #eeeeee;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
}

div.clicked {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 2;
}

div#contactButton {
  position: absolute;
  width: 372px;
  height: 65.71px;

  background: #eeeeee;
  border-radius: 6px;
}

div#contactButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

div#homeButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

div#aboutButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

a#contactButton {
  position: relative;
  padding: 13px 50% 11px 29%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.03em;
  color: #3e3e3e;
}

a#homeButton {
  position: relative;
  padding: 13px 50% 11px 37%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.03em;
  color: #3e3e3e;
}

a#aboutButton {
  position: relative;
  padding: 5px 30% 0px 28%;
  font-style: italic;
  font-weight: 500;
  font-family: Roboto;
  font-size: 36px;
  line-height: 30px;
  display: flex;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.03em;
  color: #3e3e3e;
}

div#footer {
  width: 100%;
  position: absolute;
  height: 3.8%;
  left: 0px;
  top: 96.2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: inline-grid;
  align-items: center;
  text-align: center;
  letter-spacing: 0.105em;
  color: #3e3e3e;
  background: #ffbe5b;
}

div#orderButton {
  margin-bottom: 2%;
  width: 251px;
  height: 66px;
  background: #eeeeee;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
}

div#transferButton {
  width: 251px;
  height: 66px;
  background: #eeeeee;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 2%;
}

div#rentalButton {
  width: 251px;
  height: 66px;
  margin-bottom: 2%;
  background: #eeeeee;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
}

div#rentalButton.activated {
  opacity: 100;
  visibility: visible;
  transition: 0.5s;
}
div#transferButton.activated {
  opacity: 100;
  transition: 0.5s;
  visibility: visible;
}
div#orderButton.activated {
  opacity: 100;
  transition: 0.5s;
  visibility: visible;
}

div#orderButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

div#transferButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

div#rentalButton:hover {
  background: #ffbe5b;
  transition: 0.5s;
}

a#orderServices {
  position: absolute;
  padding: 4% 7% 3% 7%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  color: #3e3e3e;
}

section#options {
  left: 60%;
  position: absolute;
  bottom: 29%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2%;
}

a#transferServices {
  position: absolute;
  padding: 3% 17% 4% 18%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  color: #3e3e3e;
}

a#rentalServices {
  position: absolute;
  padding: 3% 15% 4% 15%;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.05em;
  color: #3e3e3e;
}
