body {
  background-color: #3e3e3e;
}

img#homeLogo {
  position: absolute;
  width: 107px;
  height: 93px;
  margin: 25px 0px 0px 33px;
}

section#menuContactPageOrder {
  position: absolute;
  display: inline-flex;
  left: 55%;
}

a#homeLayoutOrder {
  margin: 20% 15% 20% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

div#servicesLayoutOrder {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

h1#ourServicesh1Order {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutOrder {
  margin: 15% 15% 15% 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.17em;
  color: #eeeeee;
}

a#contactsLayoutOrder:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
a#homeLayoutOrder:hover {
  color: #ffbe5b;
  transition: 0.5s;
}
div#servicesLayoutOrder:hover {
  color: #ffbe5b;
  transition: 0.5s;
}

div#servicesMenuOrder {
  position: absolute;
  border-radius: 10px;
  width: 141px;
  height: 0px;
  left: 62.1%;
  top: 65%;
  background: #eeeeee;
  visibility: hidden;
}

div#servicesMenuOrder.activated {
  height: 163px;
  visibility: visible;
  transition: 0.5s;
}

div#servicesMenuOrder.closed {
  height: 0px;
  visibility: hidden;
  transition: 0.5s;
}

div#menuDetailOrder {
  border-radius: 3px;
  position: absolute;
  width: 141px;
  height: 27px;
  top: 90%;
  background: #d09844;
}

a#orderMenuOrder {
  position: absolute;
  left: 8px;
  top: 22px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#orderMenuOrder:hover {
  color: #d09844;
  transition: 0.25s;
}

a#rentalMenuOrder {
  position: absolute;
  left: 25px;
  top: 67px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#rentalMenuOrder:hover {
  color: #d09844;
  transition: 0.25s;
}

a#transferMenuOrder {
  position: absolute;
  left: 27px;
  top: 115px;
  font-family: Roboto;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
  color: #3e3e3e;
}

a#transferMenuOrder:hover {
  color: #d09844;
  transition: 0.25s;
}

#closeButtonOrder {
  color: #eeeeee;
  position: absolute;
  top: 20%;
  left: 45%;
}

#closeButtonOrder:hover {
  color: #3e3e3e;
  transition: 0.5s;
}

h1#ourServices {
  position: absolute;
  left: 58%;
  top: 46%;

  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.055em;

  color: #ffbe5b;
}

h2#ourServicesDescription {
  position: absolute;
  width: 500px;
  height: 353px;
  left: 57.3%;
  top: 50%;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  letter-spacing: 0.005em;

  color: #eeeeee;
}

img#orderImage {
  position: absolute;
  left: 10%;
  top: 22%;
}

@media screen and (min-width: 1px) and (max-width: 832px) {
  #orderImage {
    visibility: hidden;
  }
  
  section#menuContactPageOrder {
    left: 10%
  }

  h1#ourServices {
    left: 25%
  }

  h2#ourServicesDescription {
    left: 23.3%
  }
}

@media screen and (min-width: 833px) and (max-width: 1262px) {
  #homeLogo {
    visibility: hidden;
  }
  
  #orderImage {
    visibility: hidden;
  }

  section#menuContactPageOrder {
    left: 19%;
  }

  h2#ourServicesDescription {
    left: 31.3%
  }

  h1#ourServices {
    left: 32%
  }
}

@media screen and (min-width: 1263px) and (max-width: 1544px) {
  section#menuContactPageOrder {
    left:45%
  }
}

@media screen and (min-height: 0px) and (max-width: 823px) {
  section#menuContactPageOrder {
    left: 33%
  }

  h2#ourServicesDescription {
    left: 52.3%;
    top: 88%
  }

  h1#ourServices {
    left: 55%;
    width: 160%;
    top: 80%;
  }
}